
.roomview{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    cursor: pointer;
    /* margin:10px; */
}

.roomview .emptyHead {
    flex-grow: 1;
   background-color: rgb(209,180,141);  
   color: white;
   border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.roomview .emptyTail {
    flex-grow: 3;
    background-color: rgb(232,246,233);
    color: seagreen;
    border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}


.roomview .fullHead {
    flex-grow: 1;
   background-color: rgb(238,83,79);  
   color: white;
   border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.roomview .fullTail {
    flex-grow: 3;
    background-color: rgb(255,235,237);
    color: rgb(238,83,79); ;
    border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.roomview .cleanHead {
    flex-grow: 1;
   background-color: rgb(156,37,175);  
   color: white;
   border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.roomview .cleanTail {
    flex-grow: 3;
    background-color: rgb(243,229,246);
    color: rgb(156,37,175);  
    border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
