
.TableViewManagerStaff{
    margin-top: 20px;
}


.TableViewManagerStaff .group--header-table-viewer .MuiTableCell-head{
    font-weight: bold;
}


.TableViewManagerStaff .group--body-table-viewer .MuiInput-underline:before{
    left: unset;
    right: unset;
    bottom: unset;
    content: unset;
}


.TableViewManagerStaff .group--body-table-viewer .group--body-table-viewer--inputAmount {
        background-color:inherit;
        border: none;
        border-bottom: unset;
        max-width:80px ;
}
.TableViewManagerStaff .group--footer-table-viewer .MuiTableRow-footer td{
    font-weight: bold;
    font-size: 1.5rem;
}

.TableViewManagerStaff .group--body-table-viewer .btn--quanlikhachsan__green__Edit {
    background-color: rgba(15, 178, 32, 0.68);
}



.TableViewManagerStaff .group--body-table-viewer .btn--quanlikhachsan__green__Remove {
    background-color: #E94141;
}

.TableViewManagerStaff button:disabled {
    opacity: 0.5;
 }